<h1 style="margin-top:-5px;text-align: left;color: #33ff33;">Requests
			<div class="dropdown col-md-6 "  style="padding:0;float:right;text-align: right">
			  <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size: 1.7rem;padding: 0;margin-top: -.5em;padding-left: .5em;">
			    <\>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			    <li><a style="font-size:1.1em;" onclick="changeCurl();">cURL</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeXHR();">JS: XHR</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeAJAX();">JQuery: AJAX</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeRuby();">Ruby</a></li>
			    <li><a style="font-size:1.1em;" onclick="changePython();">Python</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeC();">C#</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeNode();">NodeJS</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeJava();">Java</a></li>
			    <li><a style="font-size:1.1em;" onclick="changeHTTP();">HTTP</a></li>
			  </ul>
			</div></h1>
			<hr>
			<pre class="col-md-12" id="codesection" style="overflow:hidden;font-size:1.1rem;height:31vh;padding:.5em;margin-top:-1em">
GET /solarsystem/?api_key={api_key} HTTP/1.1
Host: galaxcyclopedia.herokuapp.com
accept: version.2.0.json</pre>