<% provide(:title, "Documentation") %>
<h1 style="color:<%= logged_in? ? 'black' : 'white' %>">Documentation</h1>
<div id="container" style="margin-bottom: 148px;color:<%= logged_in? ? 'black' : 'white' %>;">
<% if !logged_in? %>
<div class="homebackground" style="background-image:URL(<%= asset_path('background.png') %>)"></div>
<% end %>

<div>
	<div class='col-md-4 text-center'></div>
	<div class='col-md-4 text-center'><img src="https://www.facebook.com/rsrc.php/v3/yP/r/5u9lQXdstx5.png" alt="Mission"><div class="_3-8w">API EndPoints</div></div>
	<div class='col-md-4 text-center'></div>
</div>
