<h1>Solar System Wiki</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Thank You For Registering! Click on the link below to activate your account:
</p>

<button><%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %></button>