@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}
#paginatefeeditems{
  float:right;
}
.img-thumbnail{
  max-height: 250px;
  max-width: 180px !important;

}
.post-box{
  height:250px;
  margin-left: -3px;
  &:hover {
    .hoverablething{
      opacity:1;
    }
  }
}

.hoverablething {
  background: #4f4545;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 70px;
  font-weight: bolder;
  font-size: 12px;
  color: white;

}


.homebackground {
  width:100vw;
  height:100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#viewprofile {
  a{
    color:white !important;
  }
}
.navbar-inverse{
  a{
    color:white !important;
  }
}
.dropdown-menu > li > a{
  color:black !important;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.alert-success {
  background-color: rgba(92, 240, 31, .6) !important;
  border-color: #d6e9c6 !important;
  color: #000000 !important;
}
.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
.jumbotron{
  background: rgba(0,0,0,0) !important;
  color: white !important;
  .btn-primary{
    background-color: rgba(13, 22, 29, 0.2) !important;
    border-color: #12dcb8 !important;


  }
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
.footera {
  a {
    color:white !important;
  }
}
a[href$="/password_resets/new" i] {
  color: #89ff00;
}

a[href$="/signup" i]{
  color: #89ff00;
}
a[href$="/about" i]{
  color: #89ff00;
}
.alert-danger {
  display:none;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* mixins, variables, etc. */


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}