<footer class="footer" style="position:fixed;bottom: 0;left:5vw;width: 90vw;">
  <small>
    The SolarSystemWiki
    by <a href="https://www.linkedin.com/in/fang-wen-shen/">Fang-Wen Shen</a>
  </small>
  <nav>
    <ul class="" style="color:<%= logged_in? ? 'black' : 'white' %>">
      <li><a href='/contact' style="color:<%= logged_in? ? 'black' : 'white' %>">Contact</a></li>
      <li><a href="https://github.com/fang-w-shen/SolarSystemAPI" style="color:<%= logged_in? ? 'black' : 'white' %>">Github</a></li>
    </ul>
  </nav>
</footer>